.question{
    position: relative;
   &__block{
       
       position: fixed;
       z-index: 1;
       background-color: #18191b;
       border: 2px solid;
       border-image: radial-gradient(circle, rgba(23,112,154,1) 0%, rgba(24,25,27,1) 100%);
       border-image-slice: 1;
       right: 30px;
       bottom: -360px;
       min-width: 300px;
       min-height: 40px;
       box-shadow: 9px -3px 5px 0px rgba(0, 0, 0, 0.75);
       transition: all .3s linear;
       padding: 5px;
       &:hover{
           transform: translateX(-10px);
       }
       &.active{
           bottom: 5px;
       }
   }
   &__title{
        font-size: 17px;
        color: white;
        font-weight: 300;
        line-height: 20px;
        cursor: pointer;
    }
    &__status{
        font-weight: 300;
        color: #00d510;
        font-size: 12px;
        letter-spacing: 1px;
        display: block;
        &::after{
            content: '';
            display: block;
            //width: 100%;
            height: 2px;
            background: radial-gradient(circle, rgba(23,112,154,1) 0%, rgba(24,25,27,1) 100%);
            
            
        }
    }
    &__help{
        margin-top: 120px;
        float: right;
        font-size: 13px;
        color: white;
        
        p{
            padding: 5px;
            border: 1px solid;
            border-color: rgba(23, 112, 154, .2);
            border-radius: 10px 5px 10px 5px;
            transition: background-color .2s linear;
            cursor: pointer;
            &:hover{
                background-color: rgba(23, 112, 154, .1);
            }
        }
        p+p{
            margin-top: 5px;
        }
    }
}
#question{
    &__chat{
        resize: none;
        outline: none;
        width: 100%;
        height: 70px;
        margin-top: 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: white;
        background: rgba(32, 33, 35, 1);
        font-size: 13px;
        padding: 7px;
    }
    &__btn{
        width: 30px;
        height: 30px;
        background: url(../icons/send.svg) center (center / cover) no-repeat;
        border: none;
        float: right;
        cursor: pointer;
        &:hover{
            animation: form-btn .7s infinite linear;

        }
    }
}
@keyframes form-btn{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-3px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width: 932px)  {
    .question{
        &__block{
            right: 5px;
            padding: 0 5px;
            bottom: -364px;
            &:hover{
                transform: translateX(0);
            }
        }
        &__title{
            font-size: 15px;
        }
        
    }

}

@media screen and (max-width: 301px)  {
    .question{
        &__block{
            right: 0;
            bottom: -344px;
        }
        &__help{
            margin-top: 100px;
        }
        &__title{
            text-align: center;
        }
    }
}

@media screen and (max-width: 769px)  {
    #question{
        &__btn:hover{
            animation: none;
        }
    }
}